{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-1">
    </div>
    <div class="col-md-auto">
        <div class="mx-auto">
            <h1>Hi there</h1>
            <img src="/static/images/socrates.png" width="350" height="450" id='socrat_img'>
            <h2>This is Socrat<del>es</del> - URL shortener!</h2>
                <div class="container">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Paste Long URL bellow!</label>
                            <input type="text" class="form-control" id="LongUrl">
                        </div>
                        <button name="SendLongURL" type="submit" class="btn btn-danger">Get short URL!</button>

                    </form>
                </div>
            <div id="result_link"></div>
        </div>
    </div>
    <div class="col col-lg-1">
    </div>
  <div>
</div>

{% endblock %}

{% block scripts%}
  {{ super() }}
  <script type="module">
      // Give the imported MVC components a namespace
      import * as MVC from "/static/js/short_url/short_url.js";

      // Create an intentional global variable referencing the import
      window.mvc = MVC;
  </script>
{% endblock %}